@model BoardIndexViewModel

@{
    ViewBag.Title = Model.Board.Title + " Board";
}

<div class="d-flex justify-content-end">
    <a asp-controller="board" asp-action="CreateThread" asp-route-boardId=@Model.Board.Id class="btn btn-light mb-2">Post Thread</a>
</div>
<table class="table" style="background-color:rgba(128, 128, 128, 0.8);">
    <thead class="thead-light">
        <tr>
            <th width="55%">Thread</th>
            <th width="20%">Replies</th>
            <th width="25%">Last Post</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var thread in Model.ThreadViewModels)
        {
            <tr>
                <th>
                    <a asp-controller="thread" asp-action="index" asp-route-threadId=@thread.Thread.Id style="color: white;">@thread.Thread.Title</a>
                </th>
                <td>@(thread.RepliesCount - 1)</td>
                <td>
                    <div>
                        @thread.lastPost.User
                    </div>
                    <div>
                        @thread.lastPost.DateTime
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>